* {
    font-family: Helvetica, sans-serif;
}

.first_section {
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
    padding-top: 20px;
}

.main_header {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

link {
    font-size: 18px;
    color: #E5E7EB;
}

.sect1 {
    display: flex;
    margin: 60px;
    padding-bottom: 40px;
}

.image1 {
    width: 300px;
    height: 150px;
}